.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
}

h1 {
  font-size: 32px;
  color: #fff;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  border-radius: 10px;
  background-color: #2e2d4e;
  max-width: 400px;
  width: 100%;
  margin-bottom: 20px;
  background-image: url("assets/omega-fundo.png");
}

form input {
  border: 1px solid #48456c;
  border-radius: 30px;
  height: 40px;
  background-color: #363653;
  color: #fff;
  font-size: 16px;
  padding-left: 10px;
  outline: none;
}

form button {
  border-radius: 25px;
  background-color: #3e3bd8;
  height: 40px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  color: black;
  transition: opacity 0.3s;
}

form button:hover {
  opacity: 0.8;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2e2d4e;
  margin: 10px 0;
  padding: 10px 15px;
  width: 100%;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.card .info {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 14px;
}

.card p {
  margin: 0;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}

.card span {
  font-weight: normal;
}

.card button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.card img {
  width: 24px;
  height: 24px;
}

.logo-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.logo-omega {
  border-radius: 25px;
  background-color: #3e3bd8;
  height: 40px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  color: black;
  transition: opacity 0.3s;
}


.logo-header h2 {
  margin: 0;
  font-size: 22px;
  color: #ffffff; /* branco para melhor contraste */
  font-weight: 600;
  text-align: center;
}





